*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'itim', cursive;
    background: #fff;
}
.bank{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    margin-top: 3%;
   /*margin-left: 3vw;*/
    
    
}
.choose{
    color: red;
    text-align: center;
}
.bank1{
    color: red;
    
    width:15vw;
    margin-left: 3vw;
  display: grid;
  align-items: center;
}
.bank2{
    color: red;
    
    width:15vw;
    margin-left: 3vw;
  display: grid;
  align-items: left;
  margin-left: 10vw;
}
.logo{
    height: 18vh;
}
.logIn{
    display: flex;
    margin: auto;
    border-radius: 1.5em;
    border: none;
    background: red;
    color: #fff;
    padding: 2.1vh;
}
.logIn:hover{
    color: red;
    background: #fff;
    cursor: pointer;
}
#pass{
    color: red;
    display: flex;
    margin: auto;
    padding: 15vh;
    font-size: 20px;
    text-align: center;
    width: 30vw;
    margin-top: 70vh;
}